body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-auto-flow: column;
    margin: 0px;
} img {
    height: 22px;
    width: auto;
}

/* Variable properties */

:root {
    --shadow-right-section: 1px 1px 1px 1px;
}

/* Main left section */

.main-left {
    background-color: #3b82f6;
    color: white;
    font-size: 20px;
    font-weight: 550;
    display: grid;
    grid-template-rows: 50px;
}

.dashboard,
.categories,
.extras {
    display: grid;
    grid-auto-flow: column;
}
.dashboard>img {
    width: 50px;
    height: auto;
}
.dashboard>.text {
    font-size: 30px;
    justify-self: start;
}

.dashboard {
    height: 50px;
}

.categories {
    height: 300px;
}

.categories>.texts,
.extras>.texts {
    display: grid;
    justify-content: center;
}

.categories>.icons,
.extras>.icons {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50px;
}

/* Main Right Section */

/* Main right
    Display grid
    Flow column */

/* Main right section top */

/* Top 
    Bold text
    Display grid
    Flow column
    Variable shadow
    White background */

/* Top>top
    Display grid
    Flow row
    1fr 15fr 5fr 2fr 5fr columns */

/* Searchbar
    Gray background
    Sizing */

/* Top>bottom
    Display grid
    Flow row
    1 row; 1fr 5fr 1fr 1fr 1fr column */

/* Top>bottom>greeting
    Display grid
    Flow column
    Lean left */

/* Top>bottom>button
    Rounded edge
    White text
    Bold
    Blue background
    Sizing */

/* Right main bottom section */

/* Right main
    Display grid
    Gray background
    Columns 3fr 1fr
    Rows 1fr 4fr 1fr 4fr
    Grid:
        "projects_header announcements_header"
        "projects announcement"
        "projects trending_header"
        "projects trending" */

/* Right main section titles */

/* Projects>title, Sidebar>announcement-title , Sidebar>trending-title
    Sizing
    Bold 
    Lean left*/

/* Projects>title
    Grid area projects_header */

/* Sidebar>announcement-title
    Grid area announcement_header */

/* Sidebar>trending-title
    Grid area trending_header */

/* Right main section body */

/* Project, announcements, trending
    White background
    Variable shadow 
    Round edges */

/* Project-wrapper
    Display grid
    Grid area projects
    3 rows 2 columns */

/* Project
    Flow column
    Orange left border */

/* Project>header, p
    Lean left */

/* Project>header
    Bold
    Sizing */

/* Project>p
    Font color
    Size */

/* Project>footer
    Lean right
    Display grid
    Flow row
    Sizing */

/* Sidebar section */

/* Announcements section */

/* Sidebar>announcements
    Grid area announcement
    Display grid
    Flow column */

/* announcements>header
    Bold
    Sizing
    Lean left */

/* announcements>p
    Gray font
    Sizing
    Lean left */

/* Trending section */

/* Trending
    Display grid
    Grid area trending
    Flow columm */

/* Trending>div
    Display grid
    Flow row */

/* Trending>div>text
    Gray font
    Lean left */